/* @theme custom */

@import "gaia";

.slide_page {
  font-weight: bold;
  transform: scale(2);
  margin: 12px;
}

header {
  color: whitesmoke;
  font-size: 0.6rem;
  height: 48px;
  margin-bottom: 0px;
  padding: 0px 20px 0px 20px;
}

section::after,
footer {
  color: whitesmoke;
  font-size: 0.5rem;
  height: 48px;
  margin-bottom: 0px;
  padding: 0px 24px 0px 24px;
  text-align: right;
}

section.top {
  padding: 0px 0px 0px 0px;
}

section {
  background-color: rgb(108, 180, 198);
  color: whitesmoke;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 48px;
}

section.top a {
  color: aqua;
}

section.top h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 256px;
  text-align: center;
}

section.top h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-top: 280px;
  text-align: center;
}

section.top h3 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  margin-top: 304px;
  text-align: center;
}

section.normal {
  padding: 80px 50px 80px 50px;
}

section.normal a {
  color: aqua;
}

section.normal h1 {
  font-size: 1.8rem;
  border-bottom: 2px solid gray;
}

section.normal h2 {
  font-size: 1.7rem;
}

section.normal h3 {
  font-size: 1.6rem;
}

section.final {
  padding: 0px 0px 0px 0px;
}
